form {
    .form-group{
        margin: 10px auto;
        input {
            padding: 5px 20px;
            line-height: 16px;
            margin: 10px 0;
            width: 300px;
        }
        button{
            width: 100px;
            height: 30px;
        }
        button[type=submit]{
            color: white;
            background-color: $third-color;
        }
        button[type=reset]{
            color: white;
            background-color: $navigation-link;
        }
    }
    
    @media (min-width:900px){
    }
}


